@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Inventory system</h1>
    <p>I am happy to introduce you this inventory system!!!</p>
    <p>This is a web application that allows the processing of stock data from a server in a wholesale warehouse.</p>
    <p>The application is developed with ASP.NET CORE MVC and performs basic CRUD operations on the data. There is also an option to search by a product name. Each user can create a profile. If the user has not registered he cannot see the deliveries. When logged in, different operations on the products are allowed.</p>
    
</div>

<img src="https://d38cf3wt06n6q6.cloudfront.net/tyasuitefront/webgpcs/images/warehouse-management-software.png" >
