@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>If for any reason you need to contact me you can do it via google classroom or gmail.</p>
<img src="https://d117h1jjiq768j.cloudfront.net/images/default-source/blogs/2021/2021-03/prgs-blog-1200x600_ritm0108055.png?sfvrsn=6d2f416e_0" >
